<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
   <%= image_tag(@adventure.picture_url, :width => 600) if @adventure.picture.present? %>
  
   <h3>Comments</h3>
   <% @comments.each do |comment| %>
       <div>
        <strong><%= comment.user_name %></strong>
        <br />
        <p><%= comment.body %></p>
        <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>          </div>
    <% end %>
    <%= render 'comments/form' %>

 </div>  
  

  <div class="col-md-3">
    <p><b>Name:</b><%= @adventure.name %></p>
    <p><b>Description:</b><%= @adventure.description %></p>
    <p>

    <%= link_to 'Edit', edit_adventure_path(@adventure) %> |
    <%= link_to 'Destroy', @adventure, data: { confirm: 'Are you sure?' }, method: :delete %> |
    <%= link_to 'Back', adventures_path %>
    </p>
  </div>
</div>
